.CommonHeaderContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.CommonHeaderContainer h3 span {
    color: #eab236;
}
h3 span {
    color: #eab236;
}

/* red highlight utility for specific phrases */
.CommonHeaderContainer h3 .RedText {
    color: #b31616;
}

@media (max-width: 768px) {
    .CommonHeaderContent {
        grid-template-columns: 1fr;
    }
}