.CommonHeaderContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.CommonHeaderContainer h3 span {
    color: #eab236;
}
h3 span {
    color: #eab236;
}

@media (max-width: 768px) {
    .CommonHeaderContent {
        grid-template-columns: 1fr;
    }
}