/* Particular Service Container */
.PerticularServiceContainer {
    background-color: #ffffff;
}

/* Particular Service Content */
.PerticularServiceContent {
     /* max-width: 1100px; */
    /* margin: 20px 55px; */
    /* padding: 40px 20px; */
}

.PerticularServiceContent h3{
    color: black !important;
}

/* Responsive Design */
@media (max-width: 768px) {
    .PerticularServiceContent h1 {
        font-size: 1.8rem;
    }

    .PerticularServiceContent p {
        font-size: 1rem;
    }
}
