.FollowInstagramGridContainer {
    background-color: rgb(248, 248, 248);
}

.FollowInstagramGridItemImage {
    height: 270px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.FollowInstagramGridItemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .5s;
}

.FollowInstagramGridItemImage:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 55;
    border-radius: 10px;
    transition: .5s;
}

.FollowInstagramGridItemImage:hover img {
    transform: scale(1.05);
    transition: .5s;

}

.InstaGramIconContainer {
    position: absolute;
    /* left: 0px;
    top: 0px; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    z-index: 56;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s;
}

.FollowInstagramGridItemImage:hover .InstaGramIconContainer {
    opacity: 1;
    transition: .5s;
}

.InstaGramIconContainer svg {
    font-size: 20px;
    color: white;
    transition: .5s;
}

@media (max-width: 768px) {
    .FollowInstagramGridItemImage {
        height: 180px;
    }
}